@import url(https://fonts.googleapis.com/css?family=Limelight);

body {
  color: #61443e;
  font-family:'Limelight', monospace;
  font-size:13px;
  text-align:center;
  background-color: #bfd1e5;
  margin: 0px;
  overflow: hidden;
}
#info {
  position: absolute;
  top: 0px; width: 100%;
  padding: 5px;
}
a {
  color: #a06851;
}
#hud {
	position: absolute;
	font-size: 20px;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	font-weight: bold;
	top: 0;
	left: 0;
	padding: 10px;
}

#hud > * {

	float: left;
	margin-right: 20px;

}

.option {

	color: #ffff00;
	cursor: pointer;
	transition: all 0.15s;

}

.option:hover {

	color: #ffff66;
	transform: scale(1.2) rotate(5deg);

}

#tutorial {
	position: absolute;
    bottom: 60px;
    width: 80%;
    padding: 20px;
    margin-left: 10%;
    left: 0;
    box-sizing: border-box;
    color: #fff;
    background: rgba(0,0,0,.9);
    font-size: 20px;
}
